[submodule "kui-library"]
  path = kui-library
  url = https://github.com/karantadev/kui-library.git
[submodule "mydas-proto"]
  path = mydas-proto
  url = https://github.com/karantadev/mydas-proto.git