* {
  box-sizing: border-box;
}
.portfolio {
  display: grid;
  max-height: 100vh;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-areas:
    '. . header header header . .'
    '. projects projects projects projects projects .'
    '. content-body content-body content-body content-body content-body .'
    'foot foot foot foot foot foot foot';
}
.portfolio-header {
  grid-area: header;
  margin-top: 20px;
  align-self: start;
}
.portfolio-foot {
  grid-area: foot;
  height: 50px;
  background-color: #131d28;
  align-self: end;
  padding-top: 10px;
}
.portfolio-content {
  grid-area: content-body;
  margin: 20px 0px 40px 0px;
}
.portfolio-projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-template-areas: 'left right';
  margin-top: 20px;
}
.portfolio-projects-img {
  min-height: 150px;
}
.portfolio-projects-left {
  grid-area: left;
  background-color: black;
}
.portfolio-projects-right {
  grid-area: right;
}
.mydas-proto {
  background-color: #131d28;
}
